<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="favicon.ico"/>
    <meta charset="UTF-8">
    <title>Work offers portal</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="form.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <meta name="referrer" content="origin">
</head>
<body>

<img align="center" src="image.png"/>

<h2 align="center">Panel ofert pracy z pracuj.pl</h2>

<h3>Aktalne oferty ze strony <a
        href="https://www.pracuj.pl/praca/junior%20java%20developer;kw/warszawa;wp">pracuj.pl</a>: </h3>
<ul id="offersonline">
</ul>

<h3>Oferty pracy zapisane w bazie danych: </h3>
<ul id="offers">
</ul>

<p id="savenewoffers" align="right">Podczas otwarcia strony lokalna baza została zaktualizowana o następującą liczbę
    ofert: </p>

<br>

<div align="center" class="fb-like" data-href="https://www.facebook.com/Venustuspl/" data-width=""
     data-layout="standard" data-action="like"
     data-size="large" data-share="true"></div>

<br>
<br>
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLScXtTDkrSxTAqNT1ec70jVTcgK883R4jNRHDgn0X6ZvBqOOHA/viewform?embedded=true"
        width="640" height="706" frameborder="0" marginheight="0" marginwidth="0" align="center">Ładuję…
</iframe>

</body>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v6.0"></script>
<script src="api.js"></script>
</html>