<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Work offers portal</title>
</head>
<body>
<h2 align="center">Panel ofert pracy z pracuj.pl</h2>

<a id="savenewoffers" align="right">Lokalna baza została zaktualizowana o następującą liczbę ofert: </a>

<h3>Liczba ofert online na stronie pracuj.pl: </h3>
<ul id="offerscount">
</ul>

<h3>Aktalne oferty ze strony pracuj.pl: </h3>
<ul id="offersonline">
</ul>

<h3>Oferty pracy zapisane w bazie danych: </h3>
<ul id="offers">
</ul>


</body>
<script src="api.js"></script>
</html>