<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Formspree</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-74724777-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('set', 'allow_ad_personalization_signals', false);
        gtag('js', new Date());
        gtag('config', 'UA-74724777-1');
        gtag('config', 'AW-774405236');
    </script>
    <!-- End global site tag (gtag.js) -->

    <link rel="icon" type="image/png" href="https://formspree.io/static/img/favicon.ico">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/v4-shims.js"></script>


    <link rel="stylesheet" href="https://d1ma8knj6twvg6.cloudfront.net/static/main.min.css?t=1582608746">

    <link rel="preload" href="https://d1ma8knj6twvg6.cloudfront.net/static/img/loading.svg?t=1582608566" as="image">

</head>

<body class="site " id="card">
<div class="site-container">
    <header id="site-header">



    </header>

    <div class="site-frame" id="site-frame">
        <div>

            <div class="container form-status-message">

                <div class="row">
                    <div class="col-1-1">


                        <h1>Unable to submit form</h1>



                        <p>
                        <p>Make sure you open this page through a web server, Formspree will not work in pages
                            browsed as HTML files. Also make sure that you're posting to
                            <b>https://formspree.io/strony.warszawa@gmail.com</b>.</p>
                        <p>For geeks: could not find the "Referer" header.</p>
                        </p>


                    </div>
                </div>
            </div>

        </div>


        <div class="container form-status-footer">
            <div class="v-middle">

                <span style="font-size: small; margin-right: 5px">You are using </span>

                <a href="https://formspree.io">
                    <img src="https://d1ma8knj6twvg6.cloudfront.net/static/img/logo-small.png?t=1582608566">
                </a>
                <a href="https://formspree.io" style="font-size: small; text-transform: uppercase">
                    Formspree
                </a>
            </div>
        </div>

    </div>



    <script>
        /* turning flask flash messages into js popup notifications */
        window.popupMessages = []
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.26.0/polyfill.min.js"></script>
    <script src="https://d1ma8knj6twvg6.cloudfront.net/static/bundle.min.js?t=1582608744"></script>

</div>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js"
        data-cf-beacon='{"rayId":"56abe704e9a4f2bc","version":"2019.10.2","startTime":1582657020168}'></script>
</body>

</html>